.containerNavbar{
    width: 100%;
    height: 10vh;
    background-color:#EBACAC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerBrand{
  color: balck;
  font-size: 25px;


}

.containerList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
